body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(152, 150, 150);
}

blockquote {
    border-left: 4px solid #ccc;
    padding-left: 10px;
    font-style: italic;
    color:crimson;
}